.panel-footer.panel-grey {
    background: #ddd3d3;
    color: white;
}    
.panel-grey {
    background: #7F7665 !important;
    color: white !important;
}
.a_head:link, .a_head:hover, .a_head:visited, .a_head:active {
    color: white;
    text-decoration: none;
}
