body{
    font-family: "Open Sans",sans-serif;
    background: #f1f1f1;
}
a{
    color: #ff7f0e;
    text-decoration: none;
}
.dashboard-content {
    margin: 20px 20px 0 269px;
}

nav.sidebar-nav {
    background: #2c2c31;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0px;
    width: 250px;
    z-index: 1000;
}


nav.sidebar-nav ul.metismenu{
    margin: 0;
    list-style: none;
    padding: 0
}
nav.sidebar-nav ul.metismenu li{
    position: relative;
}
nav.sidebar-nav ul.metismenu li a{
    color: #757575;
    padding: 13px 20px;
    width: 100%;
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

nav.sidebar-nav ul.metismenu li a i{
    color: #ff7f0e;
    padding-right: 10px;
}
nav.sidebar-nav ul.metismenu li a:hover{
    color: #fff;
    background: #4d4d4d;
}

nav.sidebar-nav ul.metismenu li ul{
    margin: 0;
    list-style: none;
    padding: 0;
    background: #2f3038;
}

nav.sidebar-nav ul.metismenu li ul li a{
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
    font-weight: normal;
    border-bottom: 1px solid #28282c;
}

nav.sidebar-nav ul.metismenu li ul li a::before{
    border: 1px solid #fff;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 30px;
    position: absolute;
    top: 17px;
    width: 6px;
}

nav.sidebar-nav ul.metismenu li ul li ul{
    margin: 0;
    list-style: none;
    padding: 0;
    background: #373841;
}

nav.sidebar-nav ul.metismenu li ul li ul a{
    padding-left: 60px;
    border-color: #2f3038 ;
}

nav.sidebar-nav ul.metismenu li ul li ul a::before{
    border: 1px solid #f9d22d;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 41px;
    position: absolute;
    top: 19px;
    width: 6px;
}

nav.sidebar-nav .profile-side{
    background: #35353b ;
    
}

nav.sidebar-nav .profile-side .details {
    display: inline-flex;
    height: auto;
    padding: 10px;
    position: relative;
    width: 100%;
}
nav.sidebar-nav .profile-side .details span.images {
    display: inline-block;
    float: left;
    width: 20%;
}

nav.sidebar-nav .profile-side .details span.images img{
    width: 90%;
}
nav.sidebar-nav .profile-side .details span.name {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    /*line-height: 57px;*/
    padding-left: 10px;
    width: 60%;
    text-align: middle;
}

.header-top{
    /*background: #fff none repeat scroll 0 0;*/
    /*left: 0;*/
    padding: 20px 20px 0px 269px;
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.12);*/
}

.header-top h1.title{
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
}

.page-header.full-block {
    /*background: rgba(0, 0, 0, 0) url("../images/photobg.jpg") no-repeat fixed center center / cover ;*/
    border-radius: 0 !important;
    margin-left: -34px;
    margin-right: -35px;
    margin-top: -26px;
    padding: 30px;
}

.page-header.full-block h3{color: #fff}
.page-header.full-block p{color: #fff}

.well{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], .form-control[type="text"], .form-control[type="password"], .form-control[type="email"], .form-control[type="tel"], .form-control[contenteditable]{
    font-size: 14px;
}

select, select.form-control{
    font-size: 14px;
}

.tab-content > .tab-pane{
    padding-top: 25px;
}

form .required label:after {
    color: #e32;
    content: '*';
    display:inline; 
}

.mainpanel {
    /*margin-left: 230px;*/
}

.pageheader {
    /*padding: 20px;*/
    /*border-bottom: 1px solid #eee;*/
    /*padding-bottom: 20px;*/
    /*height: 90px;*/
    /*-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);*/
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.03);*/
}

.pageheader .media {
    padding: 0;
    clear: both;
}

.pageheader .pageicon {
    width: 50px;
    height: 50px;
    background-color: #4e5154;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    border-radius: 3px;
    padding-top: 1px;
    padding-left: 10px;
}

.pageheader .pull-left {
    margin-right: 10px;
}

.pageheader .pageicon .fa-envelope-o {
    font-size: 31px;
}

.pageheader .pageicon .fa-bar-chart-o {
    font-size: 28px;
}

.pageheader .pageicon .fa-flag {
    font-size: 30px;
}

.pageheader .pageicon .fa-laptop {
    font-size: 28px;
}

.pageheader .pageicon .fa-navicon {
    font-size: 28px;
    margin-left: 3px;
}

.pageheader .pageicon .fa-code {
    font-size: 28px;
}

.pageheader .pageicon .fa-pencil {
    margin-left: 3px;
}

.pageheader .pageicon .fa-th-list {
    font-size: 28px;
    margin-left: 1px;
}

.pageheader .pageicon .fa-map-marker {
    margin-left: 5px;
}

.pageheader .pageicon .fa-calendar {
    font-size: 32px;
}

.pageheader .pageicon .fa-user {
    font-size: 28px;
    margin-left: 4px;
}

.pageheader .breadcrumb {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 11px;
    color: #999;
    line-height: 18px;
}

.pageheader .breadcrumb li a {
    color: #333;
}

.pageheader .breadcrumb li a:hover,
.pageheader .breadcrumb li a:active,
.pagehaeder .breadcrumb li a:focus {
    color: #428bca;
}

.pageheader .breadcrumb li a i {
    color: #999;
    font-size: 10px;
}

.pageheader h4 {
    margin: -2px 0 0 0;
    font-size: 28px;
    font-weight: 500;
    color: #2f363d;
    line-height: normal;
}

.td_title {
    font-weight: bold;
}

.bg-inverse {
   background-color: #4e5154;
   color: #ffffff;
}  

.panel-inverse {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;    
    background-color: #4e5154;
    color: #ffffff;    
}

.bg-red {
   background-color: #e71e30;
   color: #ffffff;
}  

.panel-red {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;    
    background-color: #e71e30;
    color: #ffffff;    
}

.bg-grey {
   background-color: #6e7c76;
   color: #ffffff;
}  

.panel-grey {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;    
    background-color: #6e7c76;
    color: #ffffff;    
}

.tooltip {
  /*font-family: Georgia;*/
  /*font-size: 20px;*/
}
.tooltip .tooltip-inner {
  background-color: #5D5857;
  color: #EFEBEA;
  max-width: 350px;
  /*min-width: 500px;*/
  /*border: 1px solid #e5e5e5;*/
  text-align: left;
}
i.glyphicon.yellow{
    color: #ffff00;
    background: #ffff00;
    border: 1px solid #e5e5e5;
}
i.glyphicon.yellow-light{
    color: #f3f356;
    background: #f3f356;
    border: 1px solid #e5e5e5;
}
i.glyphicon.green{
    color: #92d050;
    background: #92d050;
    border: 1px solid #e5e5e5;
}
i.glyphicon.green-dark{
    color: #08924d;
    background: #08924d;
    border: 1px solid #e5e5e5;
}
i.glyphicon.aqua{
    color: #8db3e2;
    background: #8db3e2;
    border: 1px solid #e5e5e5;
}
i.glyphicon.brown{
    color: #ffc000;
    background: #ffc000;
    border: 1px solid #e5e5e5;
}

i.glyphicon.brown-light{
    color: #f2a630;
    background: #f2a630;
    border: 1px solid #e5e5e5;
}
i.glyphicon.grey{
    color: #D1CECE;
    background: #D1CECE;
    border: 1px solid #e5e5e5;
}
i.glyphicon.red{
    color: #FC0303;
    background: #FC0303;
    border: 1px solid #e5e5e5;
}
i.glyphicon.red-light{
    color: #f78870;
    background: #f78870;
    border: 1px solid #e5e5e5;
}   
i.glyphicon.white{
    color: #FFFFFF;
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
}

i.glyphicon.black{
    color: #4e5154;
    background: #4e5154;
    border: 1px solid #e5e5e5;
}
i.glyphicon.purple{
    color: #a53ba5;
    background: #a53ba5;
    border: 1px solid #e5e5e5;
} 
i.glyphicon.pink{
    color: #FFC0CB;
    background: #FFC0CB;
    border: 1px solid #e5e5e5;
}   
i.glyphicon.blue{
    color: #275df2;
    background: #275df2;
    border: 1px solid #e5e5e5;
}
i.glyphicon.orange{
    color: #f3a806;
    background: #f3a806;
    border: 1px solid #e5e5e5;
}
i.glyphicon.green-leaf{
    color: #16b27c;
    background: #16b27c;
    border: 1px solid #e5e5e5;
}
i.glyphicon.summary-taken{
    color: #54c841;
    background: #54c841;
    border: 1px solid #e5e5e5;
}
i.glyphicon.summary-entitled{
    color: #1589FF;
    background: #1589FF;
    border: 1px solid #e5e5e5;
}
i.glyphicon.summary-reimburse{
    color: #00cc99;
    background: #00cc99;
    border: 1px solid #e5e5e5;
}
i.glyphicon.summary-deduct{
    color: #ff5050;
    background: #ff5050;
    border: 1px solid #e5e5e5;
}
i.glyphicon.blue-light{
    color: #568ff3;
    background: #568ff3;
    border: 1px solid #e5e5e5;
}
i.glyphicon.green-light{
    color: #7cf56d;
    background: #7cf56d;
    border: 1px solid #e5e5e5;
}  
i.glyphicon.purple{
    color: #AF7AC5;
    background: #AF7AC5;
    border: 1px solid #e5e5e5;
}
i.glyphicon.maroon{
    color: #ea3653;
    background: #ea3653;
    border: 1px solid #e5e5e5;
}
i.glyphicon.maroon-light{
    color: #D37F91;
    background: #D37F91;
    border: 1px solid #e5e5e5;
}
i.glyphicon.grey-dark{
    color: #a192a0;
    background: #a192a0;
    border: 1px solid #e5e5e5;
}
i.glyphicon.grey-light{
    color: #ccc8bd;
    background: #ccc8bd;
    border: 1px solid #e5e5e5;
}
i.glyphicon.purple-big{
    color: #AF7AC5;
    background: #AF7AC5;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;        
}
i.glyphicon.purple-big:before {
   content: attr(data-no);
   color: #ffffff;
   font-family: "Open Sans",sans-serif;
} 
i.glyphicon.pink-big {
    color: #FFC0CB;
    background: #FFC0CB;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;        
}
i.glyphicon.pink-big:before {
   content: attr(data-no);
   color: #000000;
   font-family: "Open Sans",sans-serif;
}   
i.glyphicon.red-big{
    color: #FC0303;
    background: #FC0303;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;        
}
i.glyphicon.red-big:before {
   content: attr(data-no);
   color: #ffffff;
   font-family: "Open Sans",sans-serif;
}
i.glyphicon.brown-big{
    color: #ffc000;
    background: #ffc000;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;        
}
i.glyphicon.brown-big:before {
   content: attr(data-no);
   color: #000000;
   font-family: "Open Sans",sans-serif;
}
i.glyphicon.aqua-big{
    color: #8db3e2;
    background: #8db3e2;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;    
}
i.glyphicon.aqua-big:before {
   content: attr(data-no);
   color: #000000;
   font-family: "Open Sans",sans-serif;

}
i.glyphicon.grey-big{
    color: #D1CECE;
    background: #D1CECE;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;    
}
i.glyphicon.grey-big:before {
   content: attr(data-no);
   color: #000000;
   font-family: "Open Sans",sans-serif;

}
i.glyphicon.white-big{
    color: #FFFFFF;
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;    
}
i.glyphicon.white-big:before {
   content: attr(data-no);
   color: #000000;
   font-family: "Open Sans",sans-serif;
}
i.glyphicon.yellow-big{
    color: #ffff00;
    background: #ffff00;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;    
}
i.glyphicon.yellow-big:before {
   content: attr(data-no);
   color: #000000;
   font-family: "Open Sans",sans-serif;

}
i.glyphicon.green-big{
    color: #92d050;
    background: #92d050;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;        
}
i.glyphicon.green-big:before {
   content: attr(data-no);
   color: #000000;
   font-family: "Open Sans",sans-serif;

}
i.glyphicon.maroon-big{
    color: #ffffff;
    background: #e71b4f;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;    
}
i.glyphicon.maroon-big:before {
   content: attr(data-no);
   color: #ffffff;
   font-family: "Open Sans",sans-serif;

}
i.glyphicon.black-big{
    color: #ffffff;
    background: #4e5154;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-bottom: 5px;    
}
i.glyphicon.black-big:before {
   content: attr(data-no);
   color: #ffffff;
   font-family: "Open Sans",sans-serif;
}

.divLoading{
    display:none;
    position:fixed;
    top:0px;right:0px;width:100%;height:100%;
    background-color:#666;
    background-image:url('../images/89.gif'); 
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;  
    opacity: 0.4;
}
.divLoading.show{
    display:block;
}
.divLoading.hide{
    display:none; 
}

.block {
    position: relative;
    /*height:100px;*/
    /*background-color:#666;*/
}

.block_height {
    height: 195px;
    overflow: auto;
}

.block_height_chart {
    height: 240px;
    overflow: auto;
}

.loader {
    display: block;
    position: relative;
    height: 150px;
    top: 0; left: 0; right: 0; bottom: 0; margin: auto;
    background: rgba(255,255,255,0.8) url('../images/loading_sm.gif') center center no-repeat;
    z-index: 1000;    
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  font-size: 10px;
  font-weight: normal;
}

.btn-maroon,
.btn-maroon:hover,
.btn-maroon:active,
.btn-maroon:visited,
.btn-maroon:focus {
    background-color: #a01a24;
    border-color: #8064A2;
    color: #FFFFFF;
}

.popover { max-width: 500px; }
.popover-title { background-color:  #493a40 ; color: white; }


